.gallery {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.gallery-item {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  border-radius: 5px;
  overflow: hidden;
}

.gallery-link {
  display: block;
}

.gallery-image {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}

.gallery-image:hover {
  transform: scale(1.1);
}